* {
  box-sizing: border-box;
}

body {
  font-family: 'Recursive', sans-serif;
  background-color: #FB6B6B;
}

.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

h1 { /* titulo ZapRecall */
  font-family: 'Righteous', cursive;
  font-size: 36px;
  font-weight: 400;
  color: #FFFFFF;
  
  margin: 15px 0 30px 0;
}

.botaoiniciar {
  width: 246px;
  height: 54px;

  background-color: #FFFFFF;
  border: 1px solid #D70900;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  font-family: 'Recursive', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #D70900;
}

